### Temporary files storage
temp/
tmp/

### Python virtual environment
# while the article project does not require venv,
# it *may be* useful to have one to support IDE features.
.venv/
venv/
.env/
env/

### IDE configuration
.vscode/
.idea/*
# include shared settings
!.idea/scopes
!.idea/scopes/**

### Build artifacts
buils/
dist/
